@keyframes animatetop {
  0% {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.modal {
  display: inline;
}

.modal .modal-shade {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  cursor: pointer;
  display: none;
}

.modal .modal-content {
  position: relative;
  text-align: left;
  display: block;
  padding: 40px;
  cursor: auto;
  margin: auto;
  width: 75%;
  min-height: 30vh;
  background: #fff;
  z-index: 2;
  max-width: 1100px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.2s;
  animation-name: animatetop;
  animation-duration: 0.2s;
}

.modal .modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  line-height: 0.5;
  font-size: 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.modal.modal-show .modal-shade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.alert {
  position: relative;
  margin: 2px;
  border: 1px solid #bababa;
  border-radius: 6px;
  padding: 15px;
}

.alert .alert-title {
  font-weight: 900;
  font-size: 1.3rem;
}

.alert .alert-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  line-height: 0.5;
  font-size: 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.alert.alert-hidden {
  display: none;
}

.alert.alert-blue {
  border-color: #007aff;
  background: rgba(179, 215, 255, 0.94);
  color: #0055b3;
}

.alert.alert-gray {
  border-color: #8e8e93;
  background: rgba(233, 233, 234, 0.94);
  color: #68686d;
}

.alert.alert-green {
  border-color: #28cd41;
  background: rgba(183, 241, 191, 0.94);
  color: #1c8d2d;
}

.alert.alert-indigo {
  border-color: #5856d6;
  background: rgba(230, 230, 249, 0.94);
  color: #2e2cb4;
}

.alert.alert-orange {
  border-color: #ff9500;
  background: rgba(255, 223, 179, 0.94);
  color: #b36800;
}

.alert.alert-pink {
  border-color: #ff2d55;
  background: rgba(255, 224, 230, 0.94);
  color: #e0002b;
}

.alert.alert-purple {
  border-color: #af52de;
  background: rgba(244, 232, 251, 0.94);
  color: #8b24bf;
}

.alert.alert-red {
  border-color: #ff3b30;
  background: rgba(255, 228, 227, 0.94);
  color: #e30c00;
}

.alert.alert-teal {
  border-color: #55bef0;
  background: rgba(249, 253, 254, 0.94);
  color: #14a1e4;
}

.alert.alert-yellow {
  border-color: #ffcc00;
  background: rgba(255, 240, 179, 0.94);
  color: #b38f00;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  animation: fadeIn cubic-bezier(0.08, 0.82, 0.17, 1) 0.2s;
}

*, html {
  line-height: 1.8;
  letter-spacing: 0.2px;
  font-family: "Montserrat", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 500;
  /*
  h1, h2, h3, h4, h5, h6, heading, .bold {
      font-family: "Roboto Slab", Georgia, 'Times New Roman', Times, serif;
  }*/
}
* h1, * h2, * h3, * h4, * h5, * h6, html h1, html h2, html h3, html h4, html h5, html h6 {
  line-height: 1.35;
  display: inline-block;
}

.disabled {
  opacity: 0.38;
}

.mid-emphasis {
  opacity: 0.6;
}

.high-emphasis {
  opacity: 0.87;
}

b, .bold {
  font-weight: bold;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

h1 {
  font-size: 2.3em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.47em;
}

h4 {
  font-size: 1.42em;
}

h5 {
  font-size: 1.13em;
}

h6 {
  font-size: 1.05em;
}

hr {
  border: 0;
  border-top: 1px solid #aaa;
  margin-top: 30px;
  margin-bottom: 30px;
}

.material-icons {
  user-select: none;
}

.grid {
  padding: 0;
  margin: 0;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
.grid .col-1 {
  width: 8.3333333333%;
}
.grid .col-2 {
  width: 16.6666666667%;
}
.grid .col-3 {
  width: 25%;
}
.grid .col-4 {
  width: 33.3333333333%;
}
.grid .col-5 {
  width: 41.6666666667%;
}
.grid .col-6 {
  width: 50%;
}
.grid .col-7 {
  width: 58.3333333333%;
}
.grid .col-8 {
  width: 66.6666666667%;
}
.grid .col-9 {
  width: 75%;
}
.grid .col-10 {
  width: 83.3333333333%;
}
.grid .col-11 {
  width: 91.6666666667%;
}
.grid .col-12 {
  width: 100%;
}
.grid [class*=col-] {
  float: left;
}
@media screen and (min-width: 960px) {
  .grid [class*=col-] {
    padding-right: 25px;
  }
}
@media screen and (min-width: 591px) and (max-width: 959px) {
  .grid [class*=col-] {
    padding-right: 16px;
  }
}
.grid [class*=col-]:last-child {
  padding-right: 0;
}
@media screen and (max-width: 590px) {
  .grid [class*=col-] {
    width: 100%;
  }
  .grid [class*=col-]:not(:last-of-type) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 591px) and (max-width: 959px) {
  .grid.grid-tablet-expand [class*=col-] {
    width: 100%;
    padding-right: 0;
  }
  .grid.grid-tablet-expand [class*=col-]:not(:last-of-type) {
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 960px) {
  .section .section-content {
    padding: 2.7rem 2rem;
    margin: 0 auto;
    max-width: 1000px;
  }
}
@media screen and (min-width: 591px) and (max-width: 959px) {
  .section .section-content {
    padding: 2rem 2.8rem;
  }
}
@media screen and (max-width: 590px) {
  .section .section-content {
    padding: 3rem 0.8rem;
  }
}

@keyframes slide {}
.topnav {
  width: 100%;
  border-bottom: 1px solid rgba(120, 120, 120, 0.5);
  box-shadow: 0 -2px 5px 0 rgba(120, 120, 120, 0.6);
  padding: 0;
  margin: 0;
}
.topnav .topnav-content {
  width: 100%;
}
@media screen and (min-width: 960px) {
  .topnav .topnav-content {
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: flex-end;
  }
  .topnav .topnav-content .nav-item {
    padding: 15px 20px;
  }
  .topnav .topnav-content .nav-item:first-of-type {
    position: absolute;
    left: 0;
    top: 0;
  }
  .topnav .topnav-content .nav-item a {
    color: currentColor;
  }
  .topnav .topnav-content .nav-item a:hover {
    text-decoration: none;
  }
}
@media screen and (min-width: 591px) and (max-width: 959px) {
  .topnav .topnav-content {
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: flex-end;
  }
  .topnav .topnav-content .nav-item {
    padding: 15px 20px;
  }
  .topnav .topnav-content .nav-item:first-of-type {
    position: absolute;
    left: 0;
  }
  .topnav .topnav-content .nav-item a {
    color: currentColor;
  }
  .topnav .topnav-content .nav-item a:hover {
    text-decoration: none;
  }
}
@media screen and (max-width: 590px) {
  .topnav .topnav-content {
    padding: 0 10px;
    font-size: 1.4rem;
  }
  .topnav .topnav-content .nav-item {
    border-bottom: 1px solid rgba(120, 120, 120, 0.5);
  }
  .topnav .topnav-content .nav-item > * {
    display: inline-block;
    padding: 8px 0;
    color: currentColor;
  }
  .topnav .topnav-content .nav-item > *:hover {
    text-decoration: none;
  }
  .topnav .topnav-content .nav-item:first-of-type {
    text-align: center;
    font-weight: bold;
    border: 0;
  }
  .topnav .topnav-content .nav-item:not(:first-of-type) {
    display: none;
  }
  .topnav.expanded {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    z-index: 2;
  }
  .topnav.expanded .topnav-content {
    position: absolute;
    bottom: 0;
    top: 0;
  }
  .topnav.expanded .topnav-content .nav-item:first-of-type {
    border-bottom: 1px solid rgba(120, 120, 120, 0.5);
  }
  .topnav.expanded .topnav-content .nav-item:not(:first-of-type) {
    display: block;
  }
}
.topnav .nav-mobile-expander {
  display: none;
}
@media screen and (max-width: 590px) {
  .topnav .nav-mobile-expander {
    display: inline;
    padding-left: 8px;
    padding-right: 8px;
    position: absolute;
    top: 8px;
    left: 10px;
    cursor: pointer;
    user-select: none;
    z-index: 2;
  }
  .topnav .nav-mobile-expander i {
    padding: 0;
    margin: 0;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.banner {
  background: #007aff;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.banner .banner-content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 80%;
  max-width: 800px;
}
.banner .banner-content > * {
  flex: 0 0 100%;
}
.banner .banner-content .banner-heading {
  font-size: 1.3em;
  text-shadow: 0 1px 1px #000;
}
@media screen and (min-width: 960px) {
  .banner .banner-content {
    width: 75%;
  }
}
@media screen and (min-width: 591px) and (max-width: 959px) {
  .banner .banner-content {
    width: 80%;
  }
}
@media screen and (max-width: 590px) {
  .banner .banner-content {
    width: 85%;
  }
}
.banner .banner-blur {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  height: 100%;
}
.banner.banner-darken {
  box-shadow: inset 0px 0px 0px 100vmax rgba(0, 0, 0, 0.6);
  color: #eee;
}
.banner.banner-lighten {
  box-shadow: inset 0px 0px 0px 100vmax rgba(255, 255, 255, 0.3);
  color: #111;
}

.footer {
  color: #000;
  display: flex;
  align-items: center;
  min-height: 290px;
}
.footer .footer-content {
  max-width: 1200px;
  margin: 0 auto;
}
.footer a {
  position: relative;
  padding: 3px;
  padding-left: 13px;
}
.footer a:hover {
  text-decoration: none;
}
.footer a:hover:before {
  content: "";
}
.footer a:before {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 5px;
  height: 100%;
}
.footer .footer-content {
  display: grid;
  grid-template-columns: 50% 50%;
}
.footer .footer-content > * {
  padding: 10px;
}
.footer .footer-content .first {
  margin-right: 20px;
}
.footer .footer-content .footer-title {
  margin-bottom: 5px;
}
.footer .footer-content .footer-sub {
  margin-bottom: 5px;
}
.footer .footer-content .footer-col-title {
  padding-left: 8px;
  border-left: 5px solid #007aff;
}
.footer .footer-content :nth-child(2) a:before {
  background: #007aff;
}
.footer .footer-content :nth-child(2) .footer-col-title {
  border-left-color: #007aff;
}
.footer .footer-content :nth-child(3) a:before {
  background: #ff9500;
}
.footer .footer-content :nth-child(3) .footer-col-title {
  border-left-color: #ff9500;
}
.footer .footer-content :nth-child(4) a:before {
  background: #ff3b30;
}
.footer .footer-content :nth-child(4) .footer-col-title {
  border-left-color: #ff3b30;
}
@media screen and (min-width: 960px) {
  .footer .footer-content {
    grid-template-columns: 35% 21.66666667% 21.66666667% 21.66666667%;
  }
}
@media screen and (min-width: 591px) and (max-width: 959px) {
  .footer .footer-content {
    grid-template-columns: 50% 50%;
  }
}
@media screen and (max-width: 590px) {
  .footer .footer-content {
    grid-template-columns: 100%;
  }
}

button, [type=button], [type=submit] {
  border-radius: 6px;
  border: 2px solid #aaa;
  cursor: pointer;
  font-weight: 500;
  color: #000;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  line-height: 1.4;
  transition: border 0.08s ease-out;
}
button:not(.button-no-padding), [type=button]:not(.button-no-padding), [type=submit]:not(.button-no-padding) {
  padding: 0.8rem 1rem;
}
button:hover, [type=button]:hover, [type=submit]:hover {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
}
button:active, [type=button]:active, [type=submit]:active {
  border-color: #999999;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1) inset;
}
button:active, button:focus, [type=button]:active, [type=button]:focus, [type=submit]:active, [type=submit]:focus {
  outline: none;
}
button.button-block, [type=button].button-block, [type=submit].button-block {
  display: block;
  width: 100%;
}
button.button-xxsmall, [type=button].button-xxsmall, [type=submit].button-xxsmall {
  font-size: 0.8rem;
}
button.button-xxsmall:not(.button-no-padding), [type=button].button-xxsmall:not(.button-no-padding), [type=submit].button-xxsmall:not(.button-no-padding) {
  padding: 0.4rem 0.6rem;
}
button.button-xsmall, [type=button].button-xsmall, [type=submit].button-xsmall {
  font-size: 0.85rem;
}
button.button-xsmall:not(.button-no-padding), [type=button].button-xsmall:not(.button-no-padding), [type=submit].button-xsmall:not(.button-no-padding) {
  padding: 0.5rem 0.6rem;
}
button.button-small, [type=button].button-small, [type=submit].button-small {
  font-size: 0.9rem;
}
button.button-small:not(.button-no-padding), [type=button].button-small:not(.button-no-padding), [type=submit].button-small:not(.button-no-padding) {
  padding: 0.6rem 0.8rem;
}
button.button-large, [type=button].button-large, [type=submit].button-large {
  font-size: 1.1rem;
}
button.button-large:not(.button-no-padding), [type=button].button-large:not(.button-no-padding), [type=submit].button-large:not(.button-no-padding) {
  padding: 1rem 1.2rem;
}
button.button-blue, [type=button].button-blue, [type=submit].button-blue {
  border-color: #007aff;
  color: #fff;
  background-color: #007aff;
}
button.button-blue:active, [type=button].button-blue:active, [type=submit].button-blue:active {
  border-color: #004999;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.24) inset;
}
button.button-blue.button-inverse, [type=button].button-blue.button-inverse, [type=submit].button-blue.button-inverse {
  color: #007aff;
  background-color: #fff;
}
button.button-brown, [type=button].button-brown, [type=submit].button-brown {
  border-color: #a2845e;
  color: #fff;
  background-color: #a2845e;
}
button.button-brown:active, [type=button].button-brown:active, [type=submit].button-brown:active {
  border-color: #624f38;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.24) inset;
}
button.button-brown.button-inverse, [type=button].button-brown.button-inverse, [type=submit].button-brown.button-inverse {
  color: #a2845e;
  background-color: #fff;
}
button.button-gray, [type=button].button-gray, [type=submit].button-gray {
  border-color: #8e8e93;
  color: #fff;
  background-color: #8e8e93;
}
button.button-gray:active, [type=button].button-gray:active, [type=submit].button-gray:active {
  border-color: #5b5b60;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.24) inset;
}
button.button-gray.button-inverse, [type=button].button-gray.button-inverse, [type=submit].button-gray.button-inverse {
  color: #8e8e93;
  background-color: #fff;
}
button.button-green, [type=button].button-green, [type=submit].button-green {
  border-color: #28cd41;
  color: #fff;
  background-color: #28cd41;
}
button.button-green:active, [type=button].button-green:active, [type=submit].button-green:active {
  border-color: #177826;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.24) inset;
}
button.button-green.button-inverse, [type=button].button-green.button-inverse, [type=submit].button-green.button-inverse {
  color: #28cd41;
  background-color: #fff;
}
button.button-indigo, [type=button].button-indigo, [type=submit].button-indigo {
  border-color: #5856d6;
  color: #fff;
  background-color: #5856d6;
}
button.button-indigo:active, [type=button].button-indigo:active, [type=submit].button-indigo:active {
  border-color: #29279f;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.24) inset;
}
button.button-indigo.button-inverse, [type=button].button-indigo.button-inverse, [type=submit].button-indigo.button-inverse {
  color: #5856d6;
  background-color: #fff;
}
button.button-orange, [type=button].button-orange, [type=submit].button-orange {
  border-color: #ff9500;
  color: #fff;
  background-color: #ff9500;
}
button.button-orange:active, [type=button].button-orange:active, [type=submit].button-orange:active {
  border-color: #995900;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.24) inset;
}
button.button-orange.button-inverse, [type=button].button-orange.button-inverse, [type=submit].button-orange.button-inverse {
  color: #ff9500;
  background-color: #fff;
}
button.button-pink, [type=button].button-pink, [type=submit].button-pink {
  border-color: #ff2d55;
  color: #fff;
  background-color: #ff2d55;
}
button.button-pink:active, [type=button].button-pink:active, [type=submit].button-pink:active {
  border-color: #c60026;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.24) inset;
}
button.button-pink.button-inverse, [type=button].button-pink.button-inverse, [type=submit].button-pink.button-inverse {
  color: #ff2d55;
  background-color: #fff;
}
button.button-purple, [type=button].button-purple, [type=submit].button-purple {
  border-color: #af52de;
  color: #fff;
  background-color: #af52de;
}
button.button-purple:active, [type=button].button-purple:active, [type=submit].button-purple:active {
  border-color: #7c20aa;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.24) inset;
}
button.button-purple.button-inverse, [type=button].button-purple.button-inverse, [type=submit].button-purple.button-inverse {
  color: #af52de;
  background-color: #fff;
}
button.button-red, [type=button].button-red, [type=submit].button-red {
  border-color: #ff3b30;
  color: #fff;
  background-color: #ff3b30;
}
button.button-red:active, [type=button].button-red:active, [type=submit].button-red:active {
  border-color: #c90b00;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.24) inset;
}
button.button-red.button-inverse, [type=button].button-red.button-inverse, [type=submit].button-red.button-inverse {
  color: #ff3b30;
  background-color: #fff;
}
button.button-teal, [type=button].button-teal, [type=submit].button-teal {
  border-color: #55bef0;
  color: #fff;
  background-color: #55bef0;
}
button.button-teal:active, [type=button].button-teal:active, [type=submit].button-teal:active {
  border-color: #1291cd;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.24) inset;
}
button.button-teal.button-inverse, [type=button].button-teal.button-inverse, [type=submit].button-teal.button-inverse {
  color: #55bef0;
  background-color: #fff;
}
button.button-yellow, [type=button].button-yellow, [type=submit].button-yellow {
  border-color: #ffcc00;
  color: #fff;
  background-color: #ffcc00;
}
button.button-yellow:active, [type=button].button-yellow:active, [type=submit].button-yellow:active {
  border-color: #997a00;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.24) inset;
}
button.button-yellow.button-inverse, [type=button].button-yellow.button-inverse, [type=submit].button-yellow.button-inverse {
  color: #ffcc00;
  background-color: #fff;
}

.input {
  width: 100%;
  border-radius: 6px;
  padding: 1rem;
  border: 2px solid #aaa;
  color: #000;
  background: #fff;
}
.input:focus {
  outline: none;
  border-color: #007aff;
}

textarea {
  width: 100%;
  border-radius: 6px;
  padding: 1rem;
  border: 2px solid #aaa;
  color: #000;
  background: #fff;
  height: 240px;
  resize: vertical;
}
textarea:focus {
  outline: none;
  border-color: #007aff;
}

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown .dropdown-activator {
  display: inline-block;
}
.dropdown .dropdown-content {
  position: absolute;
  z-index: 2;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 200px;
  border: 1px solid #bababa;
  border-radius: 6px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
}
.dropdown .dropdown-content > * {
  padding: 0.4rem 0.5rem;
  display: block;
}
.dropdown .dropdown-content hr {
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}
.dropdown .dropdown-content a:hover {
  text-decoration: none;
}
.dropdown .dropdown-content.dropdown-show {
  display: block;
}

.dashboard {
  height: 100%;
  width: 100%;
}
.dashboard .sidenav .sidenav-content {
  padding: 15px;
  height: 100%;
}
.dashboard .sidenav .sidenav-content .sidenav-section-title {
  margin-bottom: 5px;
  padding: 0 5px;
}
.dashboard .sidenav .sidenav-content .sidenav-link-item {
  display: block;
}
.dashboard .sidenav .sidenav-content .sidenav-link-item a {
  display: block;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}
.dashboard .sidenav .sidenav-content .sidenav-link-item a .sidenav-icon {
  position: relative;
  top: 5px;
  margin-right: 5px;
}
.dashboard .sidenav .sidenav-content .sidenav-link-item a:hover {
  color: #007aff;
  text-decoration: none;
}
@media screen and (min-width: 960px) {
  .dashboard .sidenav {
    width: 270px;
    height: 100%;
    position: fixed;
    left: 0;
  }
  .dashboard .sidenav .sidenav-content .sidenav-link-item a {
    font-size: 0.95rem;
  }
}
@media screen and (min-width: 591px) and (max-width: 959px) {
  .dashboard .sidenav {
    max-width: 200px;
    height: 100%;
    position: fixed;
    left: 0;
  }
  .dashboard .sidenav .sidenav-content .sidenav-link-item a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 590px) {
  .dashboard .sidenav.expanded .sidenav-content {
    display: none;
  }
}
.dashboard .sidenav .nav-expander-container {
  display: none;
}
@media screen and (max-width: 590px) {
  .dashboard .sidenav .nav-expander-container {
    text-align: center;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dashboard .sidenav .nav-expander-container .material-icons {
    font-size: 3rem;
  }
}
@media screen and (min-width: 960px) {
  .dashboard .dashboard-container {
    margin-left: 270px;
  }
}
@media screen and (min-width: 591px) and (max-width: 959px) {
  .dashboard .dashboard-container {
    margin-left: 200px;
  }
}
.dashboard .dashboard-container .dashboard-topnav {
  font-size: 1.1rem;
  width: 100%;
  border-bottom: 1px solid #bababa;
  display: grid;
  grid-template-columns: auto minmax(auto, 100px) minmax(auto, 200px);
}
.dashboard .dashboard-container .dashboard-topnav > *:not(:last-child) {
  border-right: 1px solid #bababa;
}
.dashboard .dashboard-container .dashboard-topnav form {
  width: 100%;
  height: 100%;
}
.dashboard .dashboard-container .dashboard-topnav form input {
  width: 100%;
  height: 100%;
  border: 0;
}
.dashboard .dashboard-container .dashboard-topnav form input:focus {
  border: 0;
  outline: 0;
}
.dashboard .dashboard-container .dashboard-topnav .dashboard-topnav-item {
  text-align: center;
  display: flex;
}
.dashboard .dashboard-container .dashboard-topnav .dashboard-topnav-item > * {
  padding: 15px;
  margin: 0 auto;
}
.dashboard .dashboard-container .dashboard-topnav .dashboard-topnav-item.dashboard-topnav-item-notifications {
  cursor: pointer;
}
.dashboard .dashboard-container .dashboard-item-gallery {
  /* Thanks Frederic R. you're the best */
  cursor: ew-resize;
  padding: 20px;
  padding-right: 0;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(10, 400px);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  overflow-x: hidden;
  overflow-y: hidden;
  height: calc(2rem + 120px);
  scroll-snap-type: both mandatory;
  scroll-padding: 1rem;
}
@media screen and (min-width: 591px) and (max-width: 959px) {
  .dashboard .dashboard-container .dashboard-item-gallery {
    grid-template-columns: repeat(10, 380px);
    overflow-x: hidden;
  }
}
@media screen and (max-width: 590px) {
  .dashboard .dashboard-container .dashboard-item-gallery {
    grid-template-columns: repeat(10, 360px);
    overflow-x: hidden;
  }
}
.dashboard .dashboard-container .dashboard-item-gallery .gallery-active {
  scroll-snap-type: unset;
}
.dashboard .dashboard-container .dashboard-calendar-nav {
  margin: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard .dashboard-container .dashboard-calendar-nav > *:not(:last-child) {
  margin-right: 1rem;
}
.dashboard-item {
  border: 1px solid #bababa;
  border-radius: 6px;
  user-select: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  transition: background 0.1s ease-out;
}
.dashboard-item .dashboard-item-title {
  font-size: 1.2em;
  line-height: 1.3;
}
.dashboard-item .dashboard-item-title-due {
  line-height: 1.3;
  font-weight: bold;
}
.dashboard-item .dashboard-item-title-sub {
  line-height: 1.3;
}
.dashboard-item.dashboard-item-blue {
  border-color: #007aff;
}
.dashboard-item.dashboard-item-green {
  border-color: #28cd41;
}
.dashboard-item.dashboard-item-indigo {
  border-color: #5856d6;
}
.dashboard-item.dashboard-item-orange {
  border-color: #ff9500;
}
.dashboard-item.dashboard-item-pink {
  border-color: #ff2d55;
}
.dashboard-item.dashboard-item-purple {
  border-color: #af52de;
}
.dashboard-item.dashboard-item-red {
  border-color: #ff3b30;
}
.dashboard-item.dashboard-item-teal {
  border-color: #55bef0;
}
.dashboard-item.dashboard-item-yellow {
  border-color: #ffcc00;
}

body.light {
  color: #111;
  background: #fbfbfb;
}
body.light a {
  color: #007aff;
}
body.light .topnav.expanded {
  background: #fbfbfb;
}
body.light .section.section-secondary {
  background: #eeeeee;
}
body.light button.button-inverse, body.light [type=submit].button-inverse, body.light [type=button].button-inverse {
  background-color: #fbfbfb;
}
body.light .input, body.light textarea {
  background-color: #fbfbfb;
  color: #212121;
}
body.light .footer {
  background: #e2e2e2;
}
body.light .footer .footer-content {
  color: #111;
}
body.light .footer .footer-content a {
  color: #111;
}
body.light .dropdown .dropdown-content {
  background-color: #fbfbfb;
}
body.light .dropdown .dropdown-content a:hover {
  background-color: #e2e2e2;
}
body.light .sidenav {
  background-color: #eeeeee;
}
body.light .sidenav a {
  color: #111;
}
body.light .sidenav a:hover {
  background-color: #dadada;
}
body.light .dashboard .dashboard-container .dashboard-topnav form input {
  background: #fbfbfb;
  color: #111;
}
body.light .dashboard-item:hover, body.light .dashboard-item:active {
  background: rgba(0, 0, 0, 0.1);
}
body.light .modal-content {
  background: #fbfbfb;
}
body.dark {
  color: #eee;
  background: #212121;
}
body.dark a {
  color: #1a87ff;
}
body.dark .topnav.expanded {
  background: #212121;
}
body.dark .section.section-secondary {
  background: #2e2e2e;
}
body.dark button.button-inverse, body.dark [type=submit].button-inverse, body.dark [type=button].button-inverse {
  background-color: #212121;
}
body.dark .input, body.dark textarea {
  background-color: #212121;
  color: #fbfbfb;
}
body.dark .footer {
  background: #141414;
}
body.dark .footer .footer-content {
  color: #eee;
}
body.dark .footer .footer-content a {
  color: #eee;
}
body.dark .dropdown .dropdown-content {
  background-color: #212121;
}
body.dark .dropdown .dropdown-content a:hover {
  background-color: #141414;
}
body.dark .sidenav {
  background-color: #2e2e2e;
}
body.dark .sidenav a {
  color: #eee;
}
body.dark .sidenav a:hover {
  background-color: #141414;
}
body.dark .dashboard .dashboard-container .dashboard-topnav form input {
  background: #212121;
  color: #eee;
}
body.dark .dashboard-item:hover, body.dark .dashboard-item:active {
  background: rgba(255, 255, 255, 0.1);
}
body.dark .modal-content {
  background: #212121;
}