<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard page</title>

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto+Slab">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"> 
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!-- Styles -->
        <link rel="stylesheet"
            href="../static/css/main.css">

        <!-- Scripts -->
        <script src="../static/js/main.js" defer type="module"></script>
        <script src="../static/js/nav.js" defer type="module"></script>
    </head>
    <body>
        <div class="sidenav"></div>
    </body>
</html>