<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Design Setup</title>

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto+Slab">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"> 
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons">


        <!-- Styles -->
        <link rel="stylesheet"
            href="../static/css/main.css">

        <!-- Scripts -->
        <script src="../static/js/main.js" defer type="module"></script>
        <script src="../static/js/nav.js" defer type="module"></script>
    </head>
    <body>
        <!-- Top Nav Bar -->
        <div class="topnav">
            <div class="topnav-content">
                <div class="nav-item"><span>ToDos</span></div>
                <div class="nav-item"><a href="design.html">About</a></div>
                <div class="nav-item"><a href="design2.html">Log In</a></div>
            </div>
        </div>

        <!-- Banner -->
        <div class="banner banner-darken" style="background-image: url('../static/assets/laptop1.jpeg')">
            <div class="banner-blur"></div>
            <div class="banner-content">
                <div class="banner-heading">
                    <h1>Introducing Some Thing idk</h1>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quod nihil iure nemo animi debitis quam explicabo laborum sapiente consequuntur!</p>
            </div>
        </div>

        <!-- Introductory Section -->
        <div class="section">
            <div class="section-content">
                <div class="grid">
                    <div class="col-6">
                        <h1 class="bold">All your due assesments.</h1>
                        <p>Lorem ipsum <b>dolor sit amet consectetur</b> adipisicing elit. Inventore cumque sapiente quos fugiat quaerat beatae facilis, nisi quasi exercitationem eveniet!</p>
                    </div>
                    <div class="col-6">
                        <h1 class="bold">Stay On Top of Everything</h1>
                        <p>Lorem ipsum dolor <a href="#">sit amet consectetur adipisicing</a> elit. Inventore cumque sapiente quos fugiat quaerat beatae facilis, nisi quasi exercitationem eveniet!</p>
                    </div>
                </div>
                <br>
                <br>

                <h2 class="high-emphasis">Another heading</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis rerum et amet, dolore nesciunt sed non pariatur doloremque iusto minus! Labore, consequuntur!</p>
                <br>
                <button class="button-blue">Start Now</button>
                <button class="">Log In</button>

            </div>
        </div>

        <!-- Button + Dropdown Section -->
        <div class="section section-secondary">
            <div class="section-content">
                <h2 class="high-emphasis">Some Cool Buttons + Dropdowns</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure aperiam eaque labore pariatur rem!</p>
                <br>
                <button class="button-orange">Coloured Button</button>
                <button class="button-orange button-inverse">Inverse Coloured Button</button>
                <br>
                <br>
                <button class="button-red button-small">Small Button</button>
                <button class="button-pink">Regular Button</button>
                <button class="button-teal button-large">Large Button</button>
                <br>
                <br>
                <div class="dropdown">
                    <button class="dropdown-activator button-indigo">This is a dropdown</button>
                    <div class="dropdown-content">
                        <a href="#0">Link</a>
                        <a href="#0">Link</a>
                        <a href="#0">Link</a>
                        <hr>
                        <a href="#0">Link</a>
                        <a href="#0">Link</a>
                    </div>
                </div>
                <br><br>
                <div class="dropdown dropdown-changable">
                    <button class="dropdown-activator button-purple">This is a changable dropdown</button>
                    <div class="dropdown-content">
                        <a class="dropdown-changable-item" href="#0" value="Link1">Link</a>
                        <a class="dropdown-changable-item" href="#0" value="Link2">Link</a>
                        <a class="dropdown-changable-item" href="#0" value="Link3">Link</a>
                        <hr>
                        <a class="dropdown-changable-item" href="#0" value="Link4">Link</a>
                        <a class="dropdown-changable-item" href="#0" value="Link5">Link</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Input Section -->
        <div class="section">
            <div class="section-content">
                <form action="" class="form">
                    <div class="grid">
                        <div class="col-7">
                            <label>Textarea</label>
                            <textarea></textarea>
                        </div>
                        <div class="col-5">
                            <label for="input1">Input 1</label>
                            <input class="input" type="text" name="input1" placeholder="Type something...">
                            <br><br>
                            <label for="input2">Input 2</label>
                            <input class="input" type="password" name="input2" placeholder="Type something...">
                            <br><br>
                            <input type="submit" class="button-blue button-block" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- HR Tag Section -->
        <div class="section">
            <div class="section-content">
                <h2 class="high-emphasis">HR Tag</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, laboriosam.</p>
                <hr>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam aut dolorum odit delectus reprehenderit.</p>
            </div>
        </div>

        <!-- Toggle Theme Section -->
        <div class="section">
            <div class="section-content">
                <button id="toggleTheme">toggle theme</button>
            </div>
        </div>

        <!-- Footer -->
        <div class="footer">
            <div class="footer-content">
                <div class="first">
                    <h2 class="footer-title">App Title</h2>
                    <h6 class="footer-sub high-emphasis">Copyright <span class="js-current-year"></span></h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="footer-col">
                    <div class="footer-col-title high-emphasis">You and the site</div>

                    <a href="#0">Contact</a><br>
                    <a href="#0">Privacy</a><br>
                    <a href="#0">Terms of Use</a><br>
                    <a href="#0">Subscriptions</a>
                </div>
                <div class="footer-col">
                    <div class="footer-col-title high-emphasis">Account</div>

                    <a href="#0">Create new</a><br>
                    <a href="#0">Delete account</a>
                </div>
                <div class="footer-col">
                    <div class="footer-col-title high-emphasis">Else</div>

                    <a href="#0">Link</a><br>
                    <a href="#0">Link</a><br>
                    <a href="#0">Link</a><br>
                    <a href="#0">Link</a><br>
                    <a href="#0">Link</a>
                </div>
            </div>
        </div>
    </body>
</html>