<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard page</title>

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto+Slab">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"> 
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!-- Styles -->
        <link rel="stylesheet"
            href="../static/css/main.css">

        <!-- Scripts -->
        <script src="../static/js_vendor/carousel.js" defer></script>
        <script src="../static/js_vendor/modal.js" defer></script>
        <script src="../static/js/main.js" defer type="module"></script>
        <script src="../static/js/dashboard.js" defer type="module"></script>
    </head>
    <body>
        <!-- Dashboard Container -->
        <div class="dashboard">
            <!-- Side Nav -->
            <div class="sidenav">
                <div class="sidenav-content">
                    <h5 class="high-emphasis sidenav-section-title">Home</h5>
                    <div class="sidenav-link-item">
                        <a href="#0">
                            <span class="material-icons sidenav-icon">dashboard</span>
                            Dashboard
                        </a>
                    </div>
                    <div class="sidenav-link-item">
                        <a href="#0">
                            <span class="material-icons sidenav-icon">add_circle</span>
                            Add Task
                        </a>
                    </div>
                    <div class="sidenav-link-item">
                        <a href="#0">
                            <span class="material-icons sidenav-icon">add_task</span>
                            Completed Tasks
                        </a>
                    </div>
                    <div class="sidenav-link-item">
                        <a href="#0">
                            <span class="material-icons sidenav-icon">equalizer</span>
                            Analytics
                        </a>
                    </div>

                    <br>

                    <h5 class="high-emphasis sidenav-section-title">Site</h5>
                    <div class="sidenav-link-item">
                        <a href="#0" id="toggleTheme">
                            <span class="material-icons sidenav-icon">dark_mode</span>
                            Change Theme
                        </a>
                    </div>
                    <div class="sidenav-link-item">
                        <a href="design.html">
                            <span class="material-icons sidenav-icon">home</span>
                            Home
                        </a>
                    </div>
                    <div class="sidenav-link-item">
                        <a href="#0">
                            <span class="material-icons sidenav-icon">logout</span>
                            Logout
                        </a>
                    </div>
                </div>
            </div>

            <!-- Dashboard container -->
            <div class="dashboard-container">

                <!-- Top Nav -->
                <div class="dashboard-topnav">
                    <form action="" class="dashboard-topnav-item">
                        <input placeholder="Search..." type="text">
                    </form>
                    <div class="dashboard-topnav-item dashboard-topnav-item-notifications modal">
                        <span class="material-icons">notifications</span>
                        <div class="modal-content">hey</div>
                    </div>
                    <div class="dashboard-topnav-item">
                        <span>Zak Venter</span>
                    </div>
                </div>

                <!-- Dashboard Content -->
                <div class="dashboard-content">
                    <!-- Dashboard Item Display -->
                    <div class="dashboard-item-gallery">
                        <div class="dashboard-item dashboard-item-blue">
                            <div class="dashboard-item-title">
                                Crest Project
                            </div>
                            <div class="dashboard-item-title-due">
                                Due in 1 day
                            </div>
                            <div class="dashboard-item-title-sub high-emphasis">
                                Science Assesment
                            </div>
                        </div>
                        <div class="dashboard-item dashboard-item-green">
                            <div class="dashboard-item-title">
                                English Letter
                            </div>
                            <div class="dashboard-item-title-due">
                                Due in 2 days
                            </div>
                            <div class="dashboard-item-title-sub high-emphasis">
                                English Assesment
                            </div>
                        </div>
                        <div class="dashboard-item dashboard-item-green">
                            <div class="dashboard-item-title">
                                English Retrieval Chart
                            </div>
                            <div class="dashboard-item-title-due">
                                Due in 2 days
                            </div>
                            <div class="dashboard-item-title-sub high-emphasis">
                                English Assesment
                            </div>
                        </div>
                        <div class="dashboard-item dashboard-item-orange">
                            <div class="dashboard-item-title">
                                Quadratics
                            </div>
                            <div class="dashboard-item-title-due">
                                Due in 4 days
                            </div>
                            <div class="dashboard-item-title-sub high-emphasis">
                                Maths Test
                            </div>
                        </div>
                        <div class="dashboard-item dashboard-item-red">
                            <div class="dashboard-item-title">
                                Science Project
                            </div>
                            <div class="dashboard-item-title-due">
                                Due in 6 days
                            </div>
                            <div class="dashboard-item-title-sub high-emphasis">
                                Science Assesment
                            </div>
                        </div>
                        <div class="dashboard-item dashboard-item-teal">
                            <div class="dashboard-item-title">
                                Science Project
                            </div>
                            <div class="dashboard-item-title-due">
                                Due in 6 days
                            </div>
                            <div class="dashboard-item-title-sub high-emphasis">
                                Science Assesment
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-calendar">
                        <div class="dashboard-calendar-nav">
                            <button id="month-last" class="button-blue button-xxsmall bold">&larr;</button>

                            <h6 id="month-label">month-label</h6>

                            <button id="month-next" class="button-blue button-xxsmall bold">&rarr;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>